@font-face {
  font-family: "helveticaneuecyr";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("helveticaneuecyr light"),
    local("helveticaneuecyr-light"),
    url("../fonts/helveticaneuecyr-light.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-light.woff") format("woff");
}

@font-face {
  font-family: "helveticaneuecyr";
  font-style: normal;
  font-weight: 550;
  font-display: swap;
  src: local("helveticaneuecyr medium1"),
    local("helveticaneuecyr-medium1"),
    url("../fonts/helveticaneuecyr-medium1.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-medium1.woff") format("woff");
}

@font-face {
  font-family: "rosamarena";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("rosamarena"),
    local("rosa-marena"),
    url("../fonts/rosamarena.woff2") format("woff2"),
    url("../fonts/rosamarena.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter Light"),
    local("Inter-Light"),
    url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter Medium"),
    local("Inter-Medium"),
    url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
}
